/** Generales **/
:root {
  --primario: #71b100;
  --secundario: #e08709;
}

body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 300px;
}
.bg-success {
  background-color: var(--primario) !important;
}

/** Barra menu **/
@media (min-width: 768px) {
  .barra.bg-success {
    background-color: transparent !important;
  }
  .header {
    position: relative;
  }
  .header .barra {
    position: absolute;
    z-index: 100;
    width: 100%;
  }
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 300;
}
.navbar-brand span {
  font-weight: 900;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 0.8rem;
  text-transform: uppercase;
}

/** Dropdown **/

.dropdown-menu {
  background-color: var(--primario);
}
.dropdown-menu .dropdown-item {
  color: #ffffff;
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--secundario);
}

/** Caption **/

.carousel-caption h3 {
  font-size: 2.4rem;
}

.bloque-info p {
  font-size: 1.4rem;
}
.btn-warning {
  background-color: var(--secundario);
  border-color: var(--secundario);
  color: #ffffff;
  font-weight: 700;
}
